$main-color: #14A76C;

//color of background
$bg: #162129;
//color of menu 
$dark-gray: #272727;

//color of border
$bc: #1C2C35;

//color of text
$subtitle: #5E8CA7;
$text: #646F77;

//color of sections
$green: #14A76C;
$orange:  #FF652F;
$yellow: #FFE400;
$pink: #a71450;
$blue  : #1499a7;