
@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    border-top: 3px solid $main-color;
    width: 60px;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/information';
@import 'blocks/exp';
@import 'blocks/skills';
@import 'blocks/portfolio';