.exp {
    background-color: $bg;
    padding: 60px 0;
    z-index: -10;
    .wrapper {
        padding: 60px 0;
        border: 3px solid $bc;
        border-radius: 10px;
    }
    &__divider {
        margin: 25px auto 60px auto;
        border-top-color: $orange;
    }
    &__wrapper{
        
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
        justify-content: center;
    }
    &__circle {
        &_orange {
            &:before {
                background-color: $orange;
            } 
        }
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $orange;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 2px;
                    height: calc(100% + 6px);
                    position: absolute;
                    top: -9px;
                    left: -1px;
                    background-color: $bc;
                }
            }
        }
    }
    &__item {
        &:before {
            content: '';
            top: 63px;
            height: 2px;
            width: 43px;
            position: absolute;
            background-color: $bc;
        }
        &-head {
            padding: 45px 0 0 100px;
            position: relative;
        }
        &-icon {
            position: absolute;
            @include before_circle;
            left: 43px;
            img{
                position: absolute;
                top: 9px;
                left: 15px;
            }
        }
        &-subtitle{
            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            color: $text;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: $text;
        }
    }
}