.information {
    background-color: $bg;
}
.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 70px;
    &__photo {
        padding-left: 20px;
        img{
            height: 100%;
            width: 100%;
        }
        
    }
    &__subtitle {
        position: relative;
        padding-left: 13px;
        @include before_circle;
        z-index: 2;
        &:before {
            background-color: $yellow;
        }
        span {
            color: black;
        }
    }
    &__divider {
        margin: 4px 0 20px 0;
        border-top-color: $yellow;
    }
    &__text {
        width: 570px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $text;
    }
    &__blocks {
        margin-top: 40px;
        display: grid;
        width: 570px;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        grid-auto-rows: 1fr;
    }
    &-block {
        margin-left: 56px;
        position: relative;
        border: 2px solid $bc;
        border-radius: 10px;
        padding: 5px;
        &__circle {
            position: absolute;
            left: -56px;
            @include before_circle;
            z-index: 2;
            &:before {
                background-color: $yellow;
            }
            img{
                position: absolute;
                top: 8px;
                left: 6px;
            }
            &_center {
                img{
                    left: 12px;
                    top: 7px;
                }
            }
        }
        &__text {
            line-height: 18px;
            font-size: 13px;
            font-weight: 500;
            color: $text;
        }
    }
}