.promo {
    min-height: 100vh;
    position: relative;
    padding-top: 205px;
    background: #162129;
    &__title {
        width: 700px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 14px;
        @include before_circle;
        z-index: 2;
        
    }
    &__btns {
        margin-top: 25px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 250px;  
        
        .btn{
            color: white;
            &:hover {
                color: white;
            }
        }
    }
    
    &__link {
        color: $text;
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: $main-color;  
        }
    }
}